
<noscript>
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ site.default_layout }}">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ site.default_theme }}">
</noscript>
<!-- Inline javascript to keep the page from flashing. -->
<script>
var theme = get_cookie("theme");
var layout = get_cookie("layout");

  if (theme != "") {
  document.write('<link rel="stylesheet type="text/css" href="{{ site.baseurl }}/css/theme/' + theme + '">');
  } else {
  document.write('<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ site.default_theme }}">');
  }
  if (layout != "") {
  document.write('<link rel="stylesheet type="text/css" href="{{ site.baseurl }}/css/layout/' + layout + '">');
  } else {
  document.write('<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/{{ site.default_layout }}">');
  }
</script>
