<!-- Javascript form allow the user to set a css file using the browsers cookie. -->
<script>
function
set_css(){
var layouts = document.getElementsByName("layout");
var themes = document.getElementsByName("theme");
for (var i = --layouts.length; i >= 0 ; --i){
  if (layouts[i].checked == true){
  set_cookie("layout", layouts[i].value, (99*24*60*1000));
  }
}
for (var i = (--themes.length); i >= 0 ; --i){
  if (themes[i].checked == true){
  set_cookie("theme", themes[i].value, (99*24*60*1000));
  }
}
location.reload(true);
return false;
}
</script>

<noscript>
<p>Cannot select css files without javascript.</p>
</noscript> 
<div id="hidecssselector" style="display:none">
<form name="css_selector" onsubmit="return set_css();">
<fieldset><legend>Layout</legend>
{% for layout in site.data.layout %}
<input type="radio" name="layout" value="{{ layout[1] }}">{{ layout[0] }}</input><br />
{% endfor %}
</fieldset>

<fieldset><legend>Theme</legend>
{% for theme in site.data.theme %}
<input type="radio" name="theme" value="{{ theme[1] }}">{{ theme[0] }}</input><br />
{% endfor %}
</fieldset>
<input type="submit" value="submit" />
</form>
</div>

<script>
document.getElementById('hidecssselector').style.display='block';
</script>
