<!-- Javascript form allow the user to set a css file using the browsers cookie. -->
<script>
function
set_css(){
var layouts = document.getElementsByName("layout");
var themes = document.getElementsByName("theme");
for (var i = --layouts.length; i >= 0 ; --i){
  if (layouts[i].checked == true){
  set_cookie("layout", layouts[i].value, (99*24*60*1000));
  }
}
for (var i = (--themes.length); i >= 0 ; --i){
  if (themes[i].checked == true){
  set_cookie("theme", themes[i].value, (99*24*60*1000));
  }
}
return false;
}
</script>

<div>
<form name="css_selector" onsubmit="return set_css();">
{% for layout in site.data.layout %}
<input type="radio" name="layout" value="{{ layout[1] }}">{{ layout[0] }}</input><br />
{% endfor %}

{% for theme in site.data.theme %}
<input type="radio" name="theme" value="{{ theme[1] }}">{{ theme[0] }}</input><br />
{% endfor %}
<input type="submit" value="submit" />
</form>
</div>
