---
---

$content_margin: 150px;

/* Vintage layout */
body {
header {
  nav {
  position: fixed;
  margin:0px;
  width:auto;
  max-width: 85px;
  float:left;
  clear:left;

  a {
  text-align:left;
  }

  a:hover {
  text-align: center;
  }
  } /* nav */
} /* header */

nav {
  margin-left:$content_margin;
}

section {
  margin-left:$content_margin;

  h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 75px auto;
  }

} /* section */
} /* body */
