{% include site_header.html %}

<body>
{% include banner.html %}
<header>
{% include site_menu.html %}
</header>

<main>
<section>
{{ content }}

{% for media in page.media %}
  <article>
    <header>
    <h1>{{ media[1].title }}</h1>
    </header>
  {% assign url = media[0] %}
  {% include {{ url }} %}
  <p>{{ media[1].description }}</p>
    <code>
	  {% capture code_include %}
	  {% include {{ url }} %}
	  {% endcapture %}
    {{ code_include | xml_escape }}
    </code>
  </article>
{% endfor %}
</section>
</main>

<section>
<header><h3> Tags </h3></header>
<ul>
  {% for tag in page.tags %}
  <li>{{ tag }}</li>
  {% endfor %}
</ul>
</seciton>

{% include footer.html %}
</body>
</html> 
